<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description" content="portfolio html layout">
    <meta name="keywords" content="portfolio, web-design">
    <meta name="viewport" content="width=device-width,initial scale=1.0">
    <meta charset="utf-8">
    <link href="style.css" type="text/css" rel="stylesheet">
    <title>Muhammad Japanwala portfolio</title>
</head>

    <div class="navigation">
    <li>
        <a href="/" style="color: rgb(64, 29, 221);">Home</a>
    </li>

    <!--Portfolio work-->
    <h1>My Portfolio</h1>
    <hr>
    <div class="picture">
    <img src="random.jpg" width="500" height="500" alt="portfolio picture">
    <h1> Portfolio will be updated throughout the course</h1>
    </html>
    