<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description" content="portfolio html layout">
    <meta name="keywords" content="portfolio, web-design">
    <meta name="viewport" content="width=device-width,initial scale=1.0">
    <meta charset="utf-8">
    <link href="style.css" type="text/css" rel="stylesheet">
    <title>Muhammad Japanwala Resume</title>
</head>
<div class="navigation">
    <a href="/" style="color: rgb(64, 29, 221);">Home</a></li>
</div>

    <!--Will be talking about my work experience -->
    <body>
    <h1>My Experience and work resume</h1>
    <hr>
        <h1>Muhammad Japanwala</h1><br>
        <h2>Experience</h2><br>
        <h3>Home Depot</h3><br>
        <h5><b>MET Team</b></h5>
        <strong>Current</strong>
        <ul>
            <li> Enhance customer experience, increase sales and maximize inventory turns </li>
            <li> Maintain aisle cleanliness and shop-ability so that merchandise is accessible, and customers can move
                throughout the aisles easily </li>
            <li>Read and interpret planogram to ensure set compliance</li>
        </ul>

        <!-- Second Job-->
        <h3><b>Town Of Richmond Hill</b></h3>
        <strong>Facility Operator</strong>
        <ul>
            <li>Responsible for monitoring and running community center programs </li>
            <li>Assisting in due diligence by regularly checking the chemical levels as well as cleanliness of public
                swimming pools</li>
            <li>Demonstrating the ability to connect with publics concerns by quickly assessing the situation and
                arriving at solutions</li>
        </ul>

        <!-- Third Job-->
        <h3><b>Silent Statements</b></h3>
        <strong>Ecommerce Clothing Brand</strong>
        <ul>
            <li>Analyzing conversion rates and abandoned carts </li>
            <li>Fulfilling customer orders</li>
            <li>Developing relations with social media marketer influencers</li>
        </ul>
        </html>